<html>
<head>
	<title>inserted</title>
	<body>
		<form action="/db/" method="post">
			<input type="submit" value="view members">
			registered members:
	{% for userdet in results %}
		{{userdet}}
		{% endfor %}
	</body>
</head>
</html>